@import "tailwindcss";


@layer base {
  body {
    font-family: "Times New Roman", Times, serif;
  }
}

.item{
    background-color:rgba(0, 0, 0, 0.31);
}

@media screen and (max-width:500px) {
         .Gogreen{
              display: none;
         }
}
@media screen and (max-width:360px) {
        .daewoo{
               margin: auto;
        }
        .suthra{
               margin: auto;
        }
}